
# Node
node_modules/
_modules/

# Engine
engine/node_modules/
engine/logs/
engine/outputs/

# Firebase
.firebase/
serviceAccountKey.json
engine/serviceAccountKey.json

# Build
dist/
build/
coverage/
.next/
out/

# Env
.env
.env.*
!.env.example

# Lock
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.pnpm-store/
.cache/

# Misc
*.log
*.tsbuildinfo
